/* Created by: Lily C
* Created on: 03/20/2023
* This CSS file defines the style for index.html
* Unit2-04-HTML-AreaTriangle
*/

body {
  background-color: sandybrown;
}

h1 {
  background-color: rgb(234 158 52);
  color: hsl(50deg 100% 50%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #df7716;
  color: #000;
}
